<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-social-contact-heading" jhiTranslate="ebCardApp.socialContact.home.createOrEditLabel">Create or edit a Social Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!socialContact.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="socialContact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebCardApp.socialContact.socialNetwork" for="field_socialNetwork" [ngbTooltip]="'ebCardApp.socialContact.help.socialNetwork' | translate">Social Network</label>
                    <select class="form-control" name="socialNetwork" [(ngModel)]="socialContact.socialNetwork" id="field_socialNetwork" >
                        <option value="FACEBOOK">{{'ebCardApp.SocialNetwork.FACEBOOK' | translate}}</option>
                        <option value="TWITTER">{{'ebCardApp.SocialNetwork.TWITTER' | translate}}</option>
                        <option value="INSTAGRAM">{{'ebCardApp.SocialNetwork.INSTAGRAM' | translate}}</option>
                        <option value="LINKEDIN">{{'ebCardApp.SocialNetwork.LINKEDIN' | translate}}</option>
                        <option value="YOUTUBE">{{'ebCardApp.SocialNetwork.YOUTUBE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebCardApp.socialContact.link" for="field_link" [ngbTooltip]="'ebCardApp.socialContact.help.link' | translate">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                        [(ngModel)]="socialContact.link" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebCardApp.socialContact.eBCard" for="field_eBCard">E B Card</label>
                    <select class="form-control" id="field_eBCard" name="eBCard" [(ngModel)]="socialContact.eBCardId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="eBCardOption.id" *ngFor="let eBCardOption of ebcards; trackBy: trackEBCardById">{{eBCardOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
